.container {
  background: #1e202b url("../../assets/featured-image-1.jpg") no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;

  .weatherForecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .inputWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-block: 5rem;

      input {
        flex: 1; /* Allow input to take available space */
        background-color: #1e202b;
        padding-left: 1rem;
        border-radius: 5rem 0 0 5rem; /* Rounded corners */
        height: 4rem;
        border: none;
        outline: none;
        caret-color: #757575;
        color: #757575;
      }

      input::placeholder {
        color: #757575;
      }
      button {
        background-color: #009ad8;
        color: #fff;
        height: 4rem;
        border-radius: 0 5rem 5rem 0; /* Rounded corners */
        border: none;
        outline: none;
        padding: 0 1rem;
      }
    }
    .error {
      height: 40vh;
    }
    .weather {
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      width: 80%;
      background-color: #1e202b;
      color: #898a8e;
      height: 40vh;
      border-radius: 1rem;

      .monday {
        width: 100%;
        background-color: #323544;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        .first {
          background-color: #2d303d;
          padding-inline: 1rem;
          border-top-left-radius: 1rem;
          display: flex;
          justify-content: space-between;
          height: 2.5rem;
        }
        .content {
          width: 100%;
          padding-left: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          /* align-items: center; */
          .degree {
            width: 100%;
            span {
              font-size: 5rem;
              font-weight: bolder;
              color: #ffff;
              margin-right: 1rem;
            }
            img {
              width: 8rem;
              /* top: 32rem; */
            }
          }

          .temp {
            margin-top: 2rem;
            span {
              margin-inline: 0.3rem;
            }
            img {
              position: relative;
              bottom: -0.2rem;
            }
          }
        }
      }

      .days {
        width: 100%;
        display: flex;
        .tuesday {
          width: 50%;
          background-color: #262936;
          .day {
            /* background-color: #2d303d; */
            /* padding-inline: 1rem; */
            /* border-top-left-radius: 1rem; */
            display: flex;
            justify-content: center;
            /* line-height: 50%; */
            height: 2.5rem;
            width: 10rem;
            text-align: center;
            background-color: #222530;
            width: 100%;
          }

          .temp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 3rem;

            img {
              position: absolute;
              top: 26rem;
            }

            h4 {
              font-size: 2rem;
              color: #ffff;
              line-height: 0;
              margin: 3rem;
            }
            p {
              font-size: 1.5rem;
              line-height: 0;
              margin: 0;
            }
          }
        }

        .wednesday {
          width: 50%;
          background-color: #323544;
          .day {
            background-color: #2d303d;
            /* padding-inline: 1rem; */
            /* border-top-left-radius: 1rem; */
            display: flex;
            justify-content: center;
            /* line-height: 50%; */
            height: 2.5rem;
            width: 10rem;
            text-align: center;

            width: 100%;
          }

          .temp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 3rem;

            img {
              position: absolute;
              top: 26rem;
            }

            h4 {
              font-size: 2rem;
              color: #ffff;
              line-height: 0;
              margin: 3rem;
            }
            p {
              font-size: 1.5rem;
              line-height: 0;
              margin: 0;
            }
          }
        }
        .thursday {
          width: 50%;
          background-color: #262936;
          .day {
            /* background-color: #2d303d; */
            /* padding-inline: 1rem; */
            /* border-top-left-radius: 1rem; */
            display: flex;
            justify-content: center;
            /* line-height: 50%; */
            height: 2.5rem;
            width: 10rem;
            text-align: center;
            background-color: #222530;
            width: 100%;
          }

          .temp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 3rem;

            img {
              position: absolute;
              top: 26rem;
            }

            h4 {
              font-size: 2rem;
              color: #ffff;
              line-height: 0;
              margin: 3rem;
            }
            p {
              font-size: 1.5rem;
              line-height: 0;
              margin: 0;
            }
          }
        }
        .friday {
          width: 50%;
          background-color: #323544;
          .day {
            background-color: #2d303d;
            /* padding-inline: 1rem; */
            /* border-top-left-radius: 1rem; */
            display: flex;
            justify-content: center;
            /* line-height: 50%; */
            height: 2.5rem;
            width: 10rem;
            text-align: center;

            width: 100%;
          }

          .temp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 3rem;

            img {
              position: absolute;
              top: 26rem;
            }

            h4 {
              font-size: 2rem;
              color: #ffff;
              line-height: 0;
              margin: 3rem;
            }
            p {
              font-size: 1.5rem;
              line-height: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .live {
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;

    h3 {
      font-size: 2rem;
    }
    .liveCameras {
      display: flex;

      gap: 2rem;

      .liveCamera {
        width: 270px;
        /* display: inline; */
        .imageWrapper {
          position: relative;
          top: 40%;
          left: 40%;
          width: 100%;
          display: inline;
          /* right: 50%; */
          /* bottom: 50%; */
          /* transform: translate(-50%, -50%); */
        }
        p {
          font-size: 1.1rem;
        }
        span {
          font-size: 0.75rem;
          color: #bfc1c0;
        }
      }
    }
  }

  .articles {
    display: flex;
    justify-content: center;
    background-color: #323544;

    color: #ffff;
    .article {
      display: flex;
      width: 25%;
      gap: 1rem;
      margin-block: 5rem;
      h3 {
        color: #009ad8;
        font-size: 2rem;
        line-height: 50%;
        font-weight: normal;
      }

      article {
        p {
          color: #bfc1c8;
        }
      }
    }
  }

  .features {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: #ffff;
    margin-block: 4rem;
    h2 {
      font-size: 2.5rem;
      font-weight: normal;
    }
    .appFeatures {
      width: 25%;
      .appFeature {
        width: 100%;
        display: flex;
        grid-template-columns: auto auto;
        gap: 1rem;
        /* img {
          margin-right: 1rem;
        } */
        /* .imageWrapper {
          position: relative;
          top: 2rem;
        } */
        .content {
          position: relative;
          bottom: 0rem;
        }
        h4 {
          margin: 0;
        }

        p {
          color: #bfc1c8;
          /* margin: 0; */
        }
      }
    }
    .photos {
      .images {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.5rem;
      }
    }
  }

  .weatherAnalysis {
    .forecast {
      hr {
        border-top: none;
        border-top: none;
        border-color: #2d303d;
        margin-bottom: 1rem;
        /* border: 0.1px inset #8e8f94; */
        /* height: -10px; */
      }
      span {
        /* color: #bfc1c8; */
        img {
          margin-right: 0.5rem;
        }
      }
      span:hover {
        color: #009ad8;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    background: #1e202b url("../../assets/featured-image-1.jpg") no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;

    .weatherForecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-block: 5rem;
        input {
          flex: 1; /* Allow input to take available space */
          background-color: #1e202b;
          padding-left: 1rem;
          border-radius: 5rem 0 0 5rem; /* Rounded corners */
          height: 4rem;
          border: none;
          outline: none;
          caret-color: #757575;
          color: #757575;
        }

        input::placeholder {
          color: #757575;
        }
        button {
          background-color: #009ad8;
          color: #fff;
          height: 4rem;
          border-radius: 0 5rem 5rem 0; /* Rounded corners */
          border: none;
          outline: none;
          padding: 0 1rem; /* Add some padding for button text */
        }
      }
      .error {
        height: 40vh;
      }
      .weather {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        width: 80%;
        background-color: #1e202b;
        color: #898a8e;
        height: 40vh;
        border-radius: 1rem;

        .monday {
          width: 100%;
          background-color: #323544;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          .first {
            background-color: #2d303d;
            padding-inline: 1rem;
            border-top-left-radius: 1rem;
            display: flex;
            justify-content: space-between;
            height: 2.5rem;
          }
          .content {
            width: 100%;
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            .degree {
              width: 100%;
              span {
                font-size: 3rem;
                font-weight: bolder;
                color: #ffff;
                margin-right: 1rem;
              }
              img {
                width: 8rem;
                /* top: 32rem; */
              }
            }

            .temp {
              margin-top: 2rem;
              span {
                margin-inline: 0.3rem;
              }
              img {
                position: relative;
                bottom: -0.2rem;
              }
            }
          }
        }

        .days {
          width: 100%;
          display: flex;
          .tuesday {
            width: 50%;
            background-color: #262936;
            .day {
              /* background-color: #2d303d; */
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 26rem;
              }

              h4 {
                font-size: 2rem;
                color: #ffff;
                line-height: 0;
                margin: 3rem;
              }
              p {
                font-size: 1.5rem;
                line-height: 0;
                margin: 0;
              }
            }
          }

          .wednesday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 26rem;
              }

              h4 {
                font-size: 2rem;
                color: #ffff;
                line-height: 0;
                margin: 3rem;
              }
              p {
                font-size: 1.5rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .thursday {
            width: 50%;
            background-color: #262936;
            .day {
              /* background-color: #2d303d; */
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 26rem;
              }

              h4 {
                font-size: 2rem;
                color: #ffff;
                line-height: 0;
                margin: 3rem;
              }
              p {
                font-size: 1.5rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .friday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 26rem;
              }

              h4 {
                font-size: 2rem;
                color: #ffff;
                line-height: 0;
                margin: 3rem;
              }
              p {
                font-size: 1.5rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    .live {
      color: #ffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-block: 5rem;

      h3 {
        font-size: 2rem;
      }
      .liveCameras {
        display: flex;

        gap: 2rem;

        .liveCamera {
          width: 16rem;
          /* display: inline; */
          .imageWrapper {
            position: relative;
            top: 40%;
            left: 40%;
            width: 100%;
            display: inline;
            /* right: 50%; */
            /* bottom: 50%; */
            /* transform: translate(-50%, -50%); */
          }
          img:not(.imageWrapper img) {
            /* Your styles for the image outside .imageWrapper */
            width: 100%;
            height: auto;
          }
          p {
            font-size: 1.1rem;
          }
          span {
            font-size: 0.75rem;
            color: #bfc1c0;
          }
        }
      }
    }

    .articles {
      display: flex;
      justify-content: center;
      background-color: #323544;

      color: #ffff;
      .article {
        display: flex;
        width: 25%;
        gap: 1rem;
        margin-block: 5rem;
        h3 {
          color: #009ad8;
          font-size: 2rem;
          line-height: 50%;
          font-weight: normal;
        }

        article {
          p {
            color: #bfc1c8;
          }
        }
      }
    }

    .features {
      display: flex;
      justify-content: center;
      gap: 2rem;
      color: #ffff;
      margin-block: 4rem;
      h2 {
        font-size: 2.5rem;
        font-weight: normal;
      }
      .appFeatures {
        width: 25%;
        .appFeature {
          width: 100%;
          display: flex;
          grid-template-columns: auto auto;
          gap: 1rem;
          /* img {
          margin-right: 1rem;
        } */
          /* .imageWrapper {
          position: relative;
          top: 2rem;
        } */
          .content {
            position: relative;
            bottom: 0rem;
          }
          h4 {
            margin: 0;
          }

          p {
            color: #bfc1c8;
            /* margin: 0; */
          }
        }
      }
      .photos {
        .images {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 0.5rem;
        }
      }
    }

    .weatherAnalysis {
      .forecast {
        hr {
          border-top: none;
          border-top: none;
          border-color: #2d303d;
          margin-bottom: 1rem;
          /* border: 0.1px inset #8e8f94; */
          /* height: -10px; */
        }
        span {
          /* color: #bfc1c8; */
          img {
            margin-right: 0.5rem;
          }
        }
        span:hover {
          color: #009ad8;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .container {
    .weatherForecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-block: 5rem;
        input {
          flex: 1; /* Allow input to take available space */
          background-color: #1e202b;
          padding-left: 1rem;
          border-radius: 5rem 0 0 5rem; /* Rounded corners */
          height: 4rem;
          border: none;
          outline: none;
          caret-color: #757575;
          color: #757575;
        }

        button {
          background-color: #009ad8;
          color: #fff;
          height: 4rem;
          border-radius: 0 5rem 5rem 0; /* Rounded corners */
          border: none;
          outline: none;
          padding: 0 1rem;
        }
      }
      .weather {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        width: 90%;
        background-color: #1e202b;
        color: #898a8e;
        height: 40vh;
        /* border-radius: 0%; */
        border-top-right-radius: 1rem;

        .monday {
          width: 100%;
          background-color: #323544;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .first {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
          .content {
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            .degree {
              margin: 0;
              span {
                font-size: 3rem;
                font-weight: bolder;
                color: #ffff;
                margin-right: 1rem;
                /* margin-block: 0; */
                /* line-height: 0; */
              }
              img {
                width: 4rem;
                /* top: 32rem; */
              }
            }

            .temp {
              margin-block: 1rem;
              span {
                margin-inline: 0.3rem;
              }
              img {
                position: relative;
                bottom: -0.2rem;
              }
            }
          }
        }

        .days {
          width: 100%;
          display: flex;
          /* margin-top: 0px; */

          .tuesday {
            width: 50%;
            background-color: #262936;
            border-bottom-left-radius: 1rem;
            .day {
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-block: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }

          .wednesday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              border-top-left-radius: 1rem;
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .thursday {
            width: 50%;
            background-color: #262936;
            .day {
              /* background-color: #2d303d; */
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .friday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    .live {
      color: #ffff;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      margin: 20rem auto 2rem auto;

      h3 {
        line-height: 0;
        font-size: 2rem;
        margin: 0;
      }
      .liveCameras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        .liveCamera {
          .imageWrapper {
            position: relative;
            top: 120px;
            left: 40%;
            /* right: 50%; */
            /* bottom: 50%; */
            /* transform: translate(-50%, -50%); */
          }
          p {
            font-size: 1.1rem;
          }
          span {
            font-size: 0.75rem;
            color: #bfc1c0;
          }
        }
      }
    }

    .articles {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
      background-color: #323544;
      padding-block: 2rem;

      color: #ffff;
      .article {
        display: flex;

        width: 90%;
        gap: 1rem;
        margin-block: 0.5rem;
        h3 {
          color: #009ad8;
          font-size: 2rem;
          line-height: 50%;
          font-weight: normal;
        }

        article {
          p {
            color: #bfc1c8;
          }
        }
      }
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: #ffff;
      margin-block: 4rem;
      h2 {
        font-size: 2.5rem;
        font-weight: normal;
      }
      .appFeatures {
        width: 90%;
        .appFeature {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          grid-template-columns: auto auto;
          gap: 1rem;
          /* img {
          margin-right: 1rem;
        } */
          /* .imageWrapper {
          position: relative;
          top: 2rem;
        } */
          .content {
            position: relative;
            bottom: 0rem;
          }
          h4 {
            margin: 0;
          }

          p {
            color: #bfc1c8;
            /* margin: 0; */
          }
        }
      }
      .photos {
        .images {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 0.5rem;
        }
      }
    }

    .weatherAnalysis {
      .forecast {
        hr {
          border-top: none;
          border-top: none;
          border-color: #2d303d;
          margin-bottom: 1rem;
          /* border: 0.1px inset #8e8f94; */
          /* height: -10px; */
        }
        span {
          /* color: #bfc1c8; */
          img {
            margin-right: 0.5rem;
          }
        }
        span:hover {
          color: #009ad8;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 1025px) {
  .container {
    .weatherForecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-block: 5rem;
        input {
          flex: 1; /* Allow input to take available space */
          background-color: #1e202b;
          padding-left: 1rem;
          border-radius: 5rem 0 0 5rem; /* Rounded corners */
          height: 4rem;
          border: none;
          outline: none;
          caret-color: #757575;
          color: #757575;
        }

        button {
          background-color: #009ad8;
          color: #fff;
          height: 4rem;
          border-radius: 0 5rem 5rem 0; /* Rounded corners */
          border: none;
          outline: none;
          padding: 0 1rem; /* Add some padding for button text */
        }
      }
      .weather {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        width: 90%;
        background-color: #1e202b;
        color: #898a8e;
        height: 40vh;
        /* border-radius: 0%; */
        border-top-right-radius: 1rem;

        .monday {
          width: 100%;
          background-color: #323544;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .first {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
          .content {
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            .degree {
              margin: 0;
              span {
                font-size: 3rem;
                font-weight: bolder;
                color: #ffff;
                margin-right: 1rem;
                /* margin-block: 0; */
                /* line-height: 0; */
              }
              img {
                width: 4rem;
                /* top: 32rem; */
              }
            }

            .temp {
              margin-block: 1rem;
              span {
                margin-inline: 0.3rem;
              }
              img {
                position: relative;
                bottom: -0.2rem;
              }
            }
          }
        }

        .days {
          width: 100%;
          display: flex;
          /* margin-top: 0px; */

          .tuesday {
            width: 50%;
            background-color: #262936;
            border-bottom-left-radius: 1rem;
            .day {
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-block: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }

          .wednesday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              border-top-left-radius: 1rem;
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .thursday {
            width: 50%;
            background-color: #262936;
            .day {
              /* background-color: #2d303d; */
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .friday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    .live {
      color: #ffff;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      margin: 20rem auto 2rem auto;

      h3 {
        line-height: 0;
        font-size: 2rem;
        margin: 0;
      }
      .liveCameras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        .liveCamera {
          .imageWrapper {
            position: relative;
            top: 120px;
            left: 40%;
            /* right: 50%; */
            /* bottom: 50%; */
            /* transform: translate(-50%, -50%); */
          }
          p {
            font-size: 1.1rem;
          }
          span {
            font-size: 0.75rem;
            color: #bfc1c0;
          }
        }
      }
    }

    .articles {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
      background-color: #323544;
      padding-block: 2rem;

      color: #ffff;
      .article {
        display: flex;

        width: 90%;
        gap: 1rem;
        margin-block: 0.5rem;
        h3 {
          color: #009ad8;
          font-size: 2rem;
          line-height: 50%;
          font-weight: normal;
        }

        article {
          p {
            color: #bfc1c8;
          }
        }
      }
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: #ffff;
      margin-block: 4rem;
      h2 {
        font-size: 2.5rem;
        font-weight: normal;
      }
      .appFeatures {
        width: 90%;
        .appFeature {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          grid-template-columns: auto auto;
          gap: 1rem;
          /* img {
          margin-right: 1rem;
        } */
          /* .imageWrapper {
          position: relative;
          top: 2rem;
        } */
          .content {
            position: relative;
            bottom: 0rem;
          }
          h4 {
            margin: 0;
          }

          p {
            color: #bfc1c8;
            /* margin: 0; */
          }
        }
      }
      .photos {
        .images {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 0.5rem;
        }
      }
    }

    .weatherAnalysis {
      .forecast {
        hr {
          border-top: none;
          border-top: none;
          border-color: #2d303d;
          margin-bottom: 1rem;
          /* border: 0.1px inset #8e8f94; */
          /* height: -10px; */
        }
        span {
          /* color: #bfc1c8; */
          img {
            margin-right: 0.5rem;
          }
        }
        span:hover {
          color: #009ad8;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 786px) {
  .container {
    .weatherForecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-block: 5rem;
        input {
          flex: 1; /* Allow input to take available space */
          background-color: #1e202b;
          padding-left: 1rem;
          border-radius: 5rem 0 0 5rem; /* Rounded corners */
          height: 4rem;
          border: none;
          outline: none;
          caret-color: #757575;
          color: #757575;
        }

        button {
          background-color: #009ad8;
          color: #fff;
          height: 4rem;
          border-radius: 0 5rem 5rem 0; /* Rounded corners */
          border: none;
          outline: none;
          padding: 0 1rem; /* Add some padding for button text */
        }
      }
      .weather {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        width: 90%;
        background-color: #1e202b;
        color: #898a8e;
        height: 40vh;
        /* border-radius: 0%; */
        border-top-right-radius: 1rem;

        .monday {
          width: 100%;
          background-color: #323544;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .first {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
          .content {
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            .degree {
              margin: 0;
              span {
                font-size: 3rem;
                font-weight: bolder;
                color: #ffff;
                margin-right: 1rem;
                /* margin-block: 0; */
                /* line-height: 0; */
              }
              img {
                width: 4rem;
                /* top: 32rem; */
              }
            }

            .temp {
              margin-block: 1rem;
              span {
                margin-inline: 0.3rem;
              }
              img {
                position: relative;
                bottom: -0.2rem;
              }
            }
          }
        }

        .days {
          width: 100%;
          display: flex;
          /* margin-top: 0px; */

          .tuesday {
            width: 50%;
            background-color: #262936;
            border-bottom-left-radius: 1rem;
            .day {
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-block: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }

          .wednesday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              border-top-left-radius: 1rem;
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .thursday {
            width: 50%;
            background-color: #262936;
            .day {
              /* background-color: #2d303d; */
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .friday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: relative;
                top: 0;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    .live {
      color: #ffff;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      margin: 20rem auto 2rem auto;

      h3 {
        line-height: 0;
        font-size: 2rem;
        margin: 0;
      }
      .liveCameras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        .liveCamera {
          .imageWrapper {
            position: relative;
            top: 120px;
            left: 40%;
            /* right: 50%; */
            /* bottom: 50%; */
            /* transform: translate(-50%, -50%); */
          }
          p {
            font-size: 1.1rem;
          }
          span {
            font-size: 0.75rem;
            color: #bfc1c0;
          }
        }
      }
    }

    .articles {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
      background-color: #323544;
      padding-block: 2rem;

      color: #ffff;
      .article {
        display: flex;

        width: 90%;
        gap: 1rem;
        margin-block: 0.5rem;
        h3 {
          color: #009ad8;
          font-size: 2rem;
          line-height: 50%;
          font-weight: normal;
        }

        article {
          p {
            color: #bfc1c8;
          }
        }
      }
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: #ffff;
      margin-block: 4rem;
      h2 {
        font-size: 2.5rem;
        font-weight: normal;
      }
      .appFeatures {
        width: 90%;
        .appFeature {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          grid-template-columns: auto auto;
          gap: 1rem;
          /* img {
          margin-right: 1rem;
        } */
          /* .imageWrapper {
          position: relative;
          top: 2rem;
        } */
          .content {
            position: relative;
            bottom: 0rem;
          }
          h4 {
            margin: 0;
          }

          p {
            color: #bfc1c8;
            /* margin: 0; */
          }
        }
      }
      .photos {
        .images {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 0.5rem;
        }
      }
    }

    .weatherAnalysis {
      .forecast {
        hr {
          border-top: none;
          border-top: none;
          border-color: #2d303d;
          margin-bottom: 1rem;
          /* border: 0.1px inset #8e8f94; */
          /* height: -10px; */
        }
        span {
          /* color: #bfc1c8; */
          img {
            margin-right: 0.5rem;
          }
        }
        span:hover {
          color: #009ad8;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    .weatherForecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
          width: 90%;
          padding-left: 20px;
        }

        button {
          position: absolute;
          left: 60%;
        }
      }
      .weather {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        width: 90%;
        background-color: #1e202b;
        color: #898a8e;
        height: 40vh;
        /* border-radius: 0%; */
        border-top-right-radius: 1rem;

        .monday {
          width: 100%;
          background-color: #323544;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .first {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
          .content {
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            .degree {
              margin: 0;
              span {
                font-size: 3rem;
                font-weight: bolder;
                color: #ffff;
                margin-right: 1rem;
                /* margin-block: 0; */
                /* line-height: 0; */
              }
              img {
                width: 4rem;
                /* top: 32rem; */
              }
            }

            .temp {
              margin-block: 1rem;
              span {
                margin-inline: 0.3rem;
              }
              img {
                position: relative;
                bottom: -0.2rem;
              }
            }
          }
        }

        .days {
          width: 100%;
          display: flex;
          /* margin-top: 0px; */

          .tuesday {
            width: 50%;
            background-color: #262936;
            border-bottom-left-radius: 1rem;
            .day {
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-block: 3rem;

              img {
                position: absolute;
                top: 32.5rem;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }

          .wednesday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              border-top-left-radius: 1rem;
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 32.5rem;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .thursday {
            width: 50%;
            background-color: #262936;
            .day {
              /* background-color: #2d303d; */
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;
              background-color: #222530;
              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 32.5rem;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
          .friday {
            width: 50%;
            background-color: #323544;
            .day {
              background-color: #2d303d;
              /* padding-inline: 1rem; */
              /* border-top-left-radius: 1rem; */
              display: flex;
              justify-content: center;
              /* line-height: 50%; */
              height: 2.5rem;
              width: 10rem;
              text-align: center;

              width: 100%;
            }

            .temp {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-top: 3rem;

              img {
                position: absolute;
                top: 32.5rem;
              }

              h4 {
                font-size: 1rem;
                color: #ffff;
                line-height: 0;
                margin: 1rem;
              }
              p {
                font-size: 1rem;
                line-height: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    .live {
      color: #ffff;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      margin: 10rem auto 2rem auto;

      h3 {
        line-height: 0;
        font-size: 2rem;
        margin: 0;
      }
      .liveCameras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        gap: 0;

        .liveCamera {
          .imageWrapper {
            position: relative;
            top: 120px;
            left: 40%;
            /* right: 50%; */
            /* bottom: 50%; */
            /* transform: translate(-50%, -50%); */
          }
          p {
            font-size: 1.1rem;
          }
          span {
            font-size: 0.75rem;
            color: #bfc1c0;
          }
        }
      }
    }
  }
}
